/* some style */

.mono { font-family: Consolas, monaco, monospace; }
.help { font-size: 0.9rem; }

.form-control::placeholder { opacity: 0.4; }
.form-control:-ms-input-placeholder { opacity: 0.4; }
.example, .disabled, .duplicate, .CodeMirror-placeholder, .non-exact { opacity: 0.4; }

#re-find {
  margin: 2em;
}

/* footer always at bottom */
/* https://codepen.io/cbracco/pen/zekgx */

html {
  box-sizing: border-box;
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 4rem;
}

.footer {
  position: absolute;
  padding: 1rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

/* end footer always at bottom */


/* hide CodeMirror scrollbars */
.CodeMirror-hscrollbar, .CodeMirror-vscrollbar {
  display: none !important;
}

/* https://coderwall.com/p/-cnmya/style-codemirror-as-a-twitter-bootstrap-input */
/* https://github.com/publicocean0/bootstrap-codemirror/blob/master/bootstrap-codemirror.css */
.CodeMirror {
  /* Bootstrap Settings */
  box-sizing: border-box;
  margin: 0;
  font: inherit;
  font-size: 1rem;
  overflow: auto;
  font-family: inherit;
  display: block;
  width: 100%;
  padding: 5px 7px;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid rgba(206, 212, 218, 1);
  border-radius: .25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  /* Code Mirror Settings */
  font-family: Consolas, monaco, monospace;
  position: relative;
  overflow: hidden;
  height:auto;
}

.CodeMirror {
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition-property: border-color, box-shadow;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
}

.CodeMirror-focused {
  /* Bootstrap Settings */
  border-color: #80bdff;
  outline: 0;
  box-shadow: inset 0 0 0 0.2rem rgba(0,123,255,.25);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

@media (min-width: 992px) {
  .label {
    flex: 0 0 12%;
  }
  .field {
    flex: 0 0 88%;
    max-width: 88%;
  }
}

@media (min-width: 1200px) {
  .label {
    flex: 0 0 10%;
  }
  .field {
    flex: 0 0 90%;
    max-width: 90%;
  }
}
